asgiref==3.5.2
asttokens==2.1.0
attrdict==2.0.1
backcall==0.2.0
boto3==1.24.75
botocore==1.27.75
brotlipy==0.7.0
certifi==2020.12.5
cffi @ file:///home/conda/feedstock_root/build_artifacts/cffi_1613413863336/work
chardet @ file:///home/conda/feedstock_root/build_artifacts/chardet_1610093492116/work
conda==4.10.1
conda-package-handling @ file:///home/conda/feedstock_root/build_artifacts/conda-package-handling_1618231390031/work
cryptography @ file:///home/conda/feedstock_root/build_artifacts/cryptography_1616851485986/work
debugpy==1.6.3
decorator==5.1.1
Django==4.1.1
django-mathfilters==1.0.0
entrypoints==0.4
executing==1.2.0
fastprogress==1.0.3
filelock==3.8.0
huggingface-hub==0.9.1
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1593328102638/work
ipykernel==6.16.2
ipython==8.5.0
ipywidgets==8.0.2
jedi==0.18.1
jmespath==1.0.1
joblib==1.2.0
jupyter-client==7.4.4
jupyter-core==4.11.2
jupyterlab-widgets==3.0.3
mamba @ file:///home/conda/feedstock_root/build_artifacts/mamba_1620856587040/work
matplotlib-inline==0.1.6
mysqlclient==2.1.1
nest-asyncio==1.5.6
numpy==1.23.3
packaging==21.3
pandas==1.4.4
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
prompt-toolkit==3.0.31
psutil==5.9.3
ptyprocess==0.7.0
pure-eval==0.2.2
pycosat @ file:///home/conda/feedstock_root/build_artifacts/pycosat_1610094799048/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1593275161868/work
Pygments==2.13.0
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1608055815057/work
pyparsing==3.0.9
PySocks @ file:///home/conda/feedstock_root/build_artifacts/pysocks_1610291451001/work
python-dateutil==2.8.2
pytz==2022.2.1
PyYAML==6.0
pyzmq==24.0.1
regex==2022.9.13
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1608156231189/work
ruamel-yaml-conda @ file:///home/conda/feedstock_root/build_artifacts/ruamel_yaml_1611943432947/work
s3transfer==0.6.0
schedule==1.1.0
scikit-learn==1.1.2
scipy==1.9.1
seqeval==1.2.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
sklearn==0.0
sqlparse==0.4.2
stack-data==0.6.0
threadpoolctl==3.1.0
tokenizers==0.12.1
torch==1.12.1
tornado==6.2
tqdm @ file:///home/conda/feedstock_root/build_artifacts/tqdm_1621890532941/work
traitlets==5.5.0
transformers==4.22.1
typing-extensions==4.3.0
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1658789158161/work
wcwidth==0.2.5
widgetsnbextension==4.0.3