{% extends 'base.html' %}
{% load static %}
{% block mycontent %}

    <input type="hidden" class="pagetitle" value="데이터 관리"/>
    <input type="hidden" class="pageno" value="1"/>
    
    <div class="row g-3">
        <div class="col-md-12">
            <label class="form-label label-data" for="dataSrc">
                Data Set
                <a class="a-dataUpload" onclick="window.open('/dataUpload/?task={{task}}','','width=400,height=400');">[데이터 업로드]</a>
            </label>
            {% if csvlist %}
                <select id="dataSrc" class="form-select hyperparam" onchange="dataSelect(this);">
                    <option hidden="" value="0">데이터를 선택해주세요</option>
                        {% for csv in csvlist %}
                            <option value="{{forloop.counter}}">{{ csv }}</option>
                        {% endfor %}    
                </select>            
            {% else %}
                <select id="dataSrc" class="form-select hyperparam" disabled> 
                    <option hidden="" value="0">데이터가 없습니다</option>
                </select>
            {% endif %}
        </div>
    </div>

    <hr class="my-4">

    {% if page_obj %}
        <div class="container">
            <table class="table table-light table-striped" style="text-align:center;">
                <thead>
                    <tr>
                        <th style="width:5%;">번호</th>
                        <th style="width:45%;">문장</th>
                        <th style="width:10%;">결과</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in page_obj %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ data.text }}</td>
                            <td>{{ data.sentiment }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div id="paging">
            <ul class="pagination justify-content-center" style="margin-top: 2rem;">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="/data/?task={{task}}&fileName={{fileName}}&page={{page_obj.previous_page_number}}">이전</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                    </li>
                {% endif %}
                {% for page_number in page_obj.paginator.page_range %}
                    {% if page_number == page_obj.number %}
                        <li class="page-item active" aria-current="page">
                            <a class="page-link" href="/data/?task={{task}}&fileName={{fileName}}&page={{page_number}}">{{ page_number }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link" href="/data/?task={{task}}&fileName={{fileName}}&page={{page_number}}">{{ page_number }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="/data/?task={{task}}&fileName={{fileName}}&page={{page_obj.next_page_number}}">다음</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    {% endif %}

    <script>
        var tmp;
        function dataSelect(_this){
            if($(_this).val() > 0){
                $(".container").html("<img src='{% static 'img/loading.gif' %}'/>");
                $(".hyperparam").attr("disabled", true);

                var task = $("#task").val();
                var dataName = $("#dataSrc option:selected").text();       
                var param = {
                    'dataSrc' : "data/" + task + "/train/" + dataName
                };

                $.ajax({
                    url : "/dataSelectAjax/",
                    type : "GET",
                    data : param,
                    dataType : "json",
                    success : function(data) { 
                        tmp = data;
                        var appendHTML = "";
                        appendHTML += "<table class='table table-light table-striped'>";
                        appendHTML += " <thead>";
                        appendHTML += "     <tr>";
                        appendHTML += "         <th>No</th>";
                        appendHTML += "         <th>Text</th>";
                        appendHTML += "         <th>Sentiment</th>";
                        appendHTML += "     </tr>";
                        appendHTML += " </thead>";
                        appendHTML += " <tbody>";       
                        for(var i=0;i<data.page_obj.length;i++){
                            appendHTML += "     <tr> ";
                            appendHTML += "         <td>"+(i+1)+"</td>";
                            appendHTML += "         <td>"+data.page_obj[i][0]+"</td>";
                            appendHTML += "         <td>"+data.page_obj[i][1]+"</td>";
                            appendHTML += "     </tr>";
                        }
                        appendHTML += " </tbody>";
                        appendHTML += "</table>";

                        appendHTML += '<div id="paging">';
                        appendHTML += '<ul class="pagination justify-content-center" style="margin-top: 2rem;">';
                        appendHTML += '<li class="page-item">';
                        appendHTML += '<a class="page-link" href="#">이전</a>';
                        appendHTML += '</li>';
                        appendHTML += '<li class="page-item active" aria-current="page">';
                        appendHTML += '<a class="page-link" href="#"></a>';
                        appendHTML += '</li>';
                        appendHTML += '<li class="page-item">';
                        appendHTML += '<a class="page-link" href="#">다음</a>';
                        appendHTML += '</li>';
                        appendHTML += '</ul>';
                        appendHTML += '</div>';

                        $(".container").html(appendHTML);
                    }, 
                    error : function(e) {
                        modalShow("데이터 불러오기에 실패했습니다.");
                        $(".container").html("");
                        console.log("error :" + e.response);
                    },
                    complete : function(){
                        $(".hyperparam").attr("disabled", false);      
                    }
                });
            }
        }

    </script>

    <style>
        .label-data{
            position: relative;
            width: 100%;
        }
        .a-dataUpload{
            position: absolute;
            right: 0;
            cursor:pointer;
        }
        .container{
            max-width: 100%;
            text-align: center;
        }
        .container table tr td:nth-child(2){
            text-align: left;
        }
    </style>

{% endblock %}