{% extends 'base.html' %}
{% load static %}
{% block mycontent %}

    <input type="hidden" class="pagetitle" value="학습 데이터"/>
    <input type="hidden" class="pageno" value="1"/>
    
    <div class="col-md-12">
        <label for="dataSrc" class="form-label label-data">
            학습 데이터 
            <a class="a-dataUpload" onclick="window.open('/dataUpload/?task={{task}}','','width=800;height=800');">[학습 데이터 업로드]</a>
        </label>
        <select class="form-select hyperparam" id="dataSrc" required onchange="dataSelect(this);">
            <option value="0">학습 데이터를 선택해주세요</option>
            {% for csv in csvlist %}
              <option value="{{forloop.counter}}">{{ csv }}</option>
            {% endfor %}
        </select>
    </div>

    <hr class="my-4">

    <div class="container" style="max-width: 100%;"></div>

    <script>

        function dataSelect(_this){
            if($(_this).val() > 0){
                $(".container").html("<img src='{% static 'img/loading.gif' %}'/>");
                $(".hyperparam").attr("disabled", true);
                var param = {
                    'dataSrc' : $("#dataSrc option:checked").text()
                }
                $.ajax({
                    url : "/dataSelectAjax/",
                    type : "GET",
                    data : param,
                    dataType : "json",
                    success : function(data) { 
                        var appendHTML = "";
                        appendHTML += "<table class='table table-light table-striped'>";
                        appendHTML += " <thead>";
                        appendHTML += "     <tr>";
                        appendHTML += "         <th>No</th>";
                        appendHTML += "         <th>Text</th>";
                        appendHTML += "         <th>Sentiment</th>";
                        appendHTML += "     </tr>";
                        appendHTML += " </thead>";
                        appendHTML += " <tbody>";
                        for(var i=0;i<data.data.length;i++){
                            appendHTML += "     <tr> ";
                            appendHTML += "         <td>"+(data.data[i].index+1)+"</td>";
                            appendHTML += "         <td>"+data.data[i].text+"</td>";
                            appendHTML += "         <td>"+data.data[i].sentiment+"</td>";
                            appendHTML += "     </tr>";
                        }
                        appendHTML += " </tbody>";
                        appendHTML += "</table>";

                        $(".container").html(appendHTML);
                        $(".hyperparam").attr("disabled", false);
                    }, 
                    error : function(e) {
                        console.log("error :" + e.response);
                        $(".hyperparam").attr("disabled", false);
                    }             
                });
            }
        }

    </script>

    <style>
        .label-data{
            position: relative;
            width: 100%;
        }
        .a-dataUpload{
            position: absolute;
            right: 0;
            cursor:pointer;
        }
        .container{
            text-align: center;
        }
        .container table tr td:nth-child(2){
            text-align: left;
        }
    </style>

{% endblock %}