{% extends 'base.html' %}
{% block mycontent %}
    {% if not page_obj %}
        <div class="row g-3">
            <div class="col-md-12">
                <label for="dataSrc" class="form-label">
                    Data Set
                </label>
                {% if data_list %}
                    <select id="dataSrc" class="form-select hyperparam" onchange="dataSelect(this);">
                        <option hidden="" value="-1">데이터를 선택해주세요</option>
                            {% for data in data_list %}
                                <option value="{{forloop.counter}}">{{ data }}</option>
                            {% endfor %}
                    </select>
                {% else %}
                    <select id="dataSrc" class="form-select hyperparam" disabled>
                        <option hidden="" value="-1">데이터가 없습니다</option>
                    </select>
                {% endif %}
            </div>            
            <div class="col-md-12">
                <label for="infModel" class="form-label">Model</label>            
                {% if inference_model %}
                    <select id="infModel" class="form-select hyperparam">
                        <option hidden="" value="-1">모델을 선택해주세요</option>
                        {% for model in inference_model %}
                            <option value="{{model.id}}">{{ model.model_name }}</option>
                        {% endfor %}
                    </select>    
                {% else %}
                    <select id="infModel" class="form-select hyperparam" disabled> 
                        <option hidden="" value="-1">저장된 모델이 없습니다</option>
                    </select>
                {% endif %}
            </div>
        </div>
        <hr class="my-4">
        <button class="w-100 btn btn-primary btn-lg mlstart" type="button" onclick="startInference(this);">
            <span class="button__text">
                Start Inference
            </span>
        </button>        
    {% else %}
        <div class="container">
            <a href="/downloadFile?task={{task}}&type=result&fileName={{file_name}}" class="btn btn-primary" style="float:right;margin-bottom: 20px;">데이터 다운로드</a>
            {% if task == 'ner' %}
                <table class="table table-light table-striped" style="text-align:center;">
                    <thead>
                        <tr>
                            <th style="width:10%;">번호</th>
                            <th style="width:50%;">문장</th>
                            <th style="width:20%;">토큰</th>
                            <th style="width:20%;">태그</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for datas in page_obj %}
                            {% for tag, token in datas.tagtoken %}
                                {% if forloop.first %}
                                    <tr>                            
                                        <td rowspan="{{ datas.length }}">{{ datas.index | add:start_idx }}</td>
                                        <td rowspan="{{ datas.length }}" style="text-align: left;">{{ datas.text }}</td>
                                        <td>{{ token }}</td>
                                        <td>{{ tag }}</td>
                                    </tr>
                                {% else %}
                                    <tr>                            
                                        <td>{{ token }}</td>
                                        <td>{{ tag }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        
            <div id="paging">
                <ul class="pagination justify-content-center" style="margin-top: 2rem;">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="/inference/?task={{task}}&fileName={{file_name}}&page={{page_obj.previous_page_number}}">이전</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                        </li>
                    {% endif %}
                    {% for page_number in page_range %}
                        {% if page_number == page_obj.number %}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="/inference/?task={{task}}&fileName={{file_name}}&page={{page_number}}">{{ page_number }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="/inference/?task={{task}}&fileName={{file_name}}&page={{page_number}}">{{ page_number }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="/inference/?task={{task}}&fileName={{file_name}}&page={{page_obj.next_page_number}}">다음</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            {% elif task == 'sa' %}
                <table class="table table-light table-striped" style="text-align:center;">
                    <thead>
                        <tr>
                            <th style="width:10%;">번호</th>
                            <th style="width:60%;">문장</th>
                            <th style="width:15%;">분류</th>
                            <th style="width:15%;">확률</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in page_obj %}
                            <tr>
                                <td>{{ forloop.counter | add:start_idx }}</td>
                                <td style="text-align: left;">{{ data.text }}</td>
                                <td>{{ data.classification }}</td>
                                <td>{{ data.score }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        
            <div id="paging">
                <ul class="pagination justify-content-center" style="margin-top: 2rem;">
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="/inference/?task={{task}}&fileName={{file_name}}&page={{page_obj.previous_page_number}}">이전</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                        </li>
                    {% endif %}
                    {% for page_number in page_range %}
                        {% if page_number == page_obj.number %}
                            <li class="page-item active" aria-current="page">
                                <a class="page-link" href="/inference/?task={{task}}&fileName={{file_name}}&page={{page_number}}">{{ page_number }}</a>
                            </li>
                        {% else %}
                            <li class="page-item">
                                <a class="page-link" href="/inference/?task={{task}}&fileName={{file_name}}&page={{page_number}}">{{ page_number }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="/inference/?task={{task}}&fileName={{file_name}}&page={{page_obj.next_page_number}}">다음</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled">
                            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
    {% endif %}

    <script>
        var isInferenceStart = 0;
        function startInference(_this){
            if(isInferenceStart){
                modalShow("추론 진행중입니다.");
                return;
            }
            if(parseInt($("#dataSrc option:selected").val()) < 0){
                modalShow("학습 데이터를 선택해주세요.");
                return;
            }
            else if(parseInt($("#infModel option:selected").val()) < 0){
                modalShow("추론 모델을 선택해주세요.");
                return;
            }   
            
            var param = {
                "task" : $("#task").val(),
                "dataSrc" : $("#dataSrc option:selected").text(),
                "inference_model" : parseInt($("#infModel option:selected").val()),
            };

            $(".hyperparam, .mlstart").attr("disabled", true);
            $(_this).addClass("button__loader");
            $(".button__text").html("Inferencing....");
            
            isInferenceStart = 1;
            $.ajax({
                url : "/inferenceStartAjax/",
                type : "GET",
                data : param,
                dataType : "json",
                success : function(data) {
                    modalShow("추론이 성공적으로 완료되었습니다.");
                    location.href = "/inference/?task={{task}}&fileName="+data["result_file_name"];
                },
                error : function(e) {
                    modalShow("추론이 실패했습니다.");
                },
                complete : function(e){
                    $(".hyperparam, .mlstart").attr("disabled", false);
                    $(".mlstart").removeClass("button__loader");
                    $(".button__text").html("Start Inference");
                    isInferenceStart = 0;
                }
            });
        }
    </script>    
{% endblock %}