
{% extends 'base.html' %}
{% load static %}
{% block mycontent %}
    <div class="container">
        <button type="button" class="btn btn-primary" name="uploadbutton" onclick="download();">model download</button>
        <button type="button" class="btn btn-primary" name="uploadbutton" style="margin-left: 20px;" onclick="inference();">start inference</button>
    </div>  
    <script>
        function download(){
            $.ajax({
                type : "POST",
                enctype: 'multipart/form-data',
                url : "/tempmodeldown/",
                headers: {"X-CSRFToken": '{{csrf_token}}'},
                processData : false,
                contentType : false,
                success : function(data){     
                    modalShow("모델 다운로드에 성공했습니다.");
                },
                error : function(data){
                    modalShow("모델 다운로드에 실패했습니다.");
                }
            });
        }

        function inference(){
            $.ajax({
                type : "POST",
                enctype: 'multipart/form-data',
                url : "/tempinference/",
                headers: {"X-CSRFToken": '{{csrf_token}}'},
                processData : false,
                contentType : false,
                success : function(data){     
                    alert(data.result);
                },
                error : function(data){
                    modalShow("Inference에 실패했습니다.");
                }
            });
        }

    </script>

{% endblock %}