{% extends 'base.html' %}

{% block mycontent %}
    <input type="hidden" class="pagetitle" value="모델 성능 분석"/>
    <input type="hidden" class="pageno" value="3"/>
        
  <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
      <span class="fs-4">모델명</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="#" class="nav-link active" aria-current="page">
            Home
        </a>
      </li>
    </ul>
</div>

    
    <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Header</th>
              <th scope="col">Header</th>
            </tr>
          </thead>
          <tbody>
          {% for data in table_data %}
          <tr>
            <td>
              {{ forloop.counter }}
            </td>
            <td>
              {{ data.model_name }}
            </td>
            <td>
              <button>btn</button>
            </td>

          </tr>
          {% endfor %}
<!--            <tr>-->
<!--              <td>1,001</td>-->
<!--              <td>random</td>-->
<!--              <td>data</td>-->
<!--              <td>placeholder</td>-->
<!--              <td>text</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td>1,002</td>-->
<!--              <td>placeholder</td>-->
<!--              <td>irrelevant</td>-->
<!--              <td>visual</td>-->
<!--              <td>layout</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td>1,003</td>-->
<!--              <td>data</td>-->
<!--              <td>rich</td>-->
<!--              <td>dashboard</td>-->
<!--              <td>tabular</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td>1,003</td>-->
<!--              <td>information</td>-->
<!--              <td>placeholder</td>-->
<!--              <td>illustrative</td>-->
<!--              <td>data</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td>1,004</td>-->
<!--              <td>text</td>-->
<!--              <td>random</td>-->
<!--              <td>layout</td>-->
<!--              <td>dashboard</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td>1,005</td>-->
<!--              <td>dashboard</td>-->
<!--              <td>irrelevant</td>-->
<!--              <td>text</td>-->
<!--              <td>placeholder</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td>1,006</td>-->
<!--              <td>dashboard</td>-->
<!--              <td>illustrative</td>-->
<!--              <td>rich</td>-->
<!--              <td>data</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td>1,007</td>-->
<!--              <td>placeholder</td>-->
<!--              <td>tabular</td>-->
<!--              <td>information</td>-->
<!--              <td>irrelevant</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td>1,008</td>-->
<!--              <td>random</td>-->
<!--              <td>data</td>-->
<!--              <td>placeholder</td>-->
<!--              <td>text</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td>1,009</td>-->
<!--              <td>placeholder</td>-->
<!--              <td>irrelevant</td>-->
<!--              <td>visual</td>-->
<!--              <td>layout</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td>1,010</td>-->
<!--              <td>data</td>-->
<!--              <td>rich</td>-->
<!--              <td>dashboard</td>-->
<!--              <td>tabular</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td>1,011</td>-->
<!--              <td>information</td>-->
<!--              <td>placeholder</td>-->
<!--              <td>illustrative</td>-->
<!--              <td>data</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td>1,012</td>-->
<!--              <td>text</td>-->
<!--              <td>placeholder</td>-->
<!--              <td>layout</td>-->
<!--              <td>dashboard</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td>1,013</td>-->
<!--              <td>dashboard</td>-->
<!--              <td>irrelevant</td>-->
<!--              <td>text</td>-->
<!--              <td>visual</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td>1,014</td>-->
<!--              <td>dashboard</td>-->
<!--              <td>illustrative</td>-->
<!--              <td>rich</td>-->
<!--              <td>data</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td>1,015</td>-->
<!--              <td>random</td>-->
<!--              <td>tabular</td>-->
<!--              <td>information</td>-->
<!--              <td>text</td>-->
<!--            </tr>-->
          </tbody>
        </table>
      </div>

{% endblock %}