{% extends 'base.html' %}
{% load static %}
{% load mathfilters %}
{% block mycontent %}


    <input type="hidden" class="pagetitle" value="모델 성능 분석"/>
    <input type="hidden" class="pageno" value="4"/>
    
    <div class="row g-3">
        <div class="container">
            <table class="table table-light table-striped" style="text-align:center;">
                <thead>
                    <tr>
                        <th style="width:5%;">번호</th>
                        <th style="width:45%;">모델이름</th>
                        <th style="width:10%;">용량</th>
                        <th style="width:10%;">정확도</th>
                        <th style="width:20%;">학습날짜</th>
                        <th style="width:10%;">상세보기</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in page_obj %}
                        <tr>
                            <td>{{ forloop.counter | add:startIdx }}</td>
                            <td>{{ data.model_name }}</td>
                            <td>{{ data.volume }} MB</td>
                            <td>{{ data.accuracy }} %</td>
                            <td>{{ data.date | date:"Y년 m월 d일" }}</td>
                            <td>
                                <button onclick="window.open('/modelPopup/?id={{data.id}}','window_name','width=700,height=1000');">보기</button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="paging">
        <ul class="pagination justify-content-center" style="margin-top: 2rem;">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="/models/?task={{task}}&page={{ page_obj.previous_page_number }}">이전</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                </li>
            {% endif %}
            {% for page_number in page_range %}
                {% if page_number == page_obj.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="/models/?task={{task}}&page={{ page_number }}">{{ page_number }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="/models/?task={{task}}&page={{ page_number }}">{{ page_number }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="/models/?task={{task}}&page={{ page_obj.next_page_number }}">다음</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                </li>
            {% endif %}
        </ul>
    </div>
    
{% endblock %}