{% extends 'base.html' %}
{% block mycontent %}  
    <div class="row g-3">
        <div class="container">
            <table class="table table-light table-striped" style="text-align:center;">
                <thead>
                    <tr>
                        <th style="width:5%;">No</th>
                        <th style="width:30%;">Name</th>
                        <th style="width:10%;">Epoch</th>
                        <th style="width:10%;">Batch Size</th>
                        <th style="width:10%;">Learning Rate</th>
                        <th style="width:10%;">F1 Score</th>
                        <th style="width:10%;">Size</th>
                        <th style="width:15%;">학습날짜</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in page_obj %}
                        <tr>
                            <td>{{ forloop.counter | add:startIdx }}</td>
                            <td>{{ data.model_name }}</td>
                            <td>{{ data.epoch }}</td>
                            <td>{{ data.batch_size }}</td>
                            <td>{{ data.learning_rate }}</td>
                            <td>{{ data.f1 }}%</td>
                            <td>{{ data.volume }} MB</td>
                            <td>{{ data.date | date:"Y년 m월 d일" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="paging">
        <ul class="pagination justify-content-center" style="margin-top: 2rem;">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="/models/?task={{task}}&page={{ page_obj.previous_page_number }}">이전</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">이전</a>
                </li>
            {% endif %}
            {% for page_number in page_range %}
                {% if page_number == page_obj.number %}
                    <li class="page-item active" aria-current="page">
                        <a class="page-link" href="/models/?task={{task}}&page={{ page_number }}">{{ page_number }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link" href="/models/?task={{task}}&page={{ page_number }}">{{ page_number }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="/models/?task={{task}}&page={{ page_obj.next_page_number }}">다음</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" tabindex="-1" aria-disabled="true" href="#">다음</a>
                </li>
            {% endif %}
        </ul>
    </div>    
{% endblock %}