{% extends 'base.html' %}

{% block mycontent %}
    <input type="hidden" class="pagetitle" value="모델 학습"/>
    <input type="hidden" class="pageno" value="2"/>

        <div class="col-md-7 col-lg-8">
            <!--<form class="needs-validation" novalidate>-->
                <div class="row g-3">
                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">Model Name</label>
                        <input type="text" class="form-control hyperparam" id="firstName" placeholder="" value="" required>
                    </div>
                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">Epoch</label>
                        <input type="text" class="form-control hyperparam" id="firstName" placeholder="" value="" required>
                    </div>
                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">Learning Rate</label>
                        <input type="text" class="form-control hyperparam" id="firstName" placeholder="" value="" required>
                    </div>
                    <div class="col-sm-6">
                        <label for="firstName" class="form-label">Batch Size</label>
                        <input type="text" class="form-control hyperparam" id="firstName" placeholder="" value="" required>
                    </div>
                    <div class="col-md-12">
                        <label for="country" class="form-label">Pretrained Model</label>
                        <select class="form-select hyperparam" id="country" required>
                            <option value="">Choose...</option>
                            <option>KoELECTRA-base-v3-discriminator</option>
                            <option>KoELECTRA-small-v3-discriminator</option>
                            <option>KoBERT</option>
                            <option>DistilKoBERT</option>
                            <option>KoBERT-lm</option>
                        </select>
                    </div>
                </div>
    
                <hr class="my-4">

                <button class="w-100 btn btn-primary btn-lg trainstart" type="button">Start Training</button>

                결과 : {{skku.result}}
                device : {{skku.device}}
                에포크 : {{skku.epochs}}
            <!--</form>-->
        </div>



        <script>


            /* 네비 및 페이지 타이틀 설정 */
            $(document).ready(function(){
                $(".trainstart").click(function(){
                    $(".hyperparam, .trainstart").attr("disabled", true);
                    $(this).text("Training....");
                });

                $(".col-lg-8").css("width","100%");
            });


        </script>

{% endblock %}