{% extends 'base.html' %}
{% block mycontent %}

    <input type="hidden" class="pagetitle" value="모델 학습"/>
    <input type="hidden" class="pageno" value="2"/>

    <div class="row g-3">
        <div class="col-sm-6">
            <label for="modelname" class="form-label">Model Name</label>
            <input type="text" class="form-control hyperparam" id="modelname" name="modelname" placeholder="모델 이름을 입력해주세요" maxlength="45" value="" />
        </div>
        <div class="col-sm-6">
            <label for="modelepoch" class="form-label">Epoch</label>
            <input type="number" class="form-control hyperparam" id="modelepoch" name="modelepoch" placeholder="에포크를 설정해주세요" value="" />
        </div>
        <div class="col-sm-6">
            <label for="modellr" class="form-label">Learning Rate</label>
            <input type="number" class="form-control hyperparam" id="modellr" name="modellr" placeholder="학습률을 설정해주세요" value="" />
        </div>
        <div class="col-sm-6">
            <label for="modelbs" class="form-label">Batch Size</label>
            <input type="number" class="form-control hyperparam" id="modelbs" name="modelbs" placeholder="배치사이즈를 설정해주세요" value="" />
        </div>
        <div class="col-md-12">
            <label for="pretrained" class="form-label">Model</label>
            <select class="form-select hyperparam" id="pretrained">
                <option hidden="" value="0">학습 시킬 모델을 선택해주세요</option>
                <option value="1">(Pretrained) KoELECTRA-base-v3-discriminator</option>
                <option value="2">(Pretrained) KoELECTRA-small-v3-discriminator</option>
                <option value="3">(Pretrained) KoBERT</option>
                <option value="4">(Pretrained) DistilKoBERT</option>
                <option value="5">(Pretrained) KoBERT-lm</option>            
                {% if inference_model %}
                    <option value="0" disabled>---------------------------------------------------------------------</option>
                    {% for model in inference_model %}
                        <option value="{{forloop.counter}}">(Finetuned) {{ model.model_name }}</option>
                    {% endfor %}
                {% endif %}
            </select>
        </div>
        <div class="col-md-12">
            <label for="dataSrc" class="form-label">Data Set</label>
            {% if csvlist %}
                <select id="dataSrc" class="form-select hyperparam" onchange="dataSelect(this);">
                    <option hidden="" value="0">데이터를 선택해주세요</option>
                        {% for csv in csvlist %}
                            <option value="{{forloop.counter}}">{{ csv }}</option>
                        {% endfor %}    
                </select>            
            {% else %}
                <select id="dataSrc" class="form-select hyperparam" disabled> 
                    <option hidden="" value="0">데이터가 없습니다</option>
                </select>
            {% endif %}
        </div>
        <div class="col-sm-12">
            <label for="modeldes" class="form-label">Description</label>
            <textarea class="form-control hyperparam" id="modeldes" name="modeldes" placeholder="추가 설명을 입력해주세요" maxlength="2000" value=""></textarea>
        </div>
    </div>

    <hr class="my-4">

    <button class="w-100 btn btn-primary btn-lg trainstart" type="button" onclick="insertResult();">Start Training</button>

    <input type="hidden" class="form-control hyperparam" id="modelacc" name="modelacc" value="0.91"/>
    <input type="hidden" class="form-control hyperparam" id="modelf1" name="modelf1" value="0.92"/>
    <input type="hidden" class="form-control hyperparam" id="modelspeed" name="modelspeed" value="23.1"/>
    <input type="hidden" class="form-control hyperparam" id="modelvolume" name="modelvolume" value="48.4"/>
    <!--
    결과 : {{skku.result}}
    device : {{skku.device}}
    에포크 : {{skku.epochs}}
    -->

    <script>
        /* 네비 및 페이지 타이틀 설정 */
        $(document).ready(function(){
            $(".trainstart").click(function(){
                //$(".hyperparam, .trainstart").attr("disabled", true);
                //$(this).text("Training....");
            });

            $(".col-lg-8").css("width","100%");
        });

        function insertResult(){
            if($("#modelname").val() == ""){
                modalShow("모델 이름을 입력해주세요.");
                return;
            }
            else if($("#modelepoch").val() == "" || $("#modelepoch").val() <= 0){
                modalShow("에포크를 설정해주세요.");
                return;
            }
            else if($("#modellr").val() == "" || $("#modellr").val() <= 0){
                modalShow("학습률을 설정해주세요.");
                return;
            }
            else if($("#modelbs").val() == "" || $("#modelbs").val() <= 0){
                modalShow("배치사이즈를 설정해주세요.");
                return;
            }
            else if($("#pretrained option:selected").val() == "0"){
                modalShow("사전 학습 모델을 선택해주세요.");
                return;
            }
            else if($("#dataSrc option:selected").val() == "0"){
                modalShow("학습 데이터를 선택해주세요.");
                return;
            }

            var param = {
                    "task" : $("#task").val(),
                    "modelname" : $("#modelname").val(),
                    "modelepoch" : Math.round($("#modelepoch").val()),
                    "modellr" : $("#modellr").val(),
                    "modelbs" : Math.round($("#modelbs").val()),
                    "modeldes" : $("#modeldes").val(),
                    "modelacc" : $("#modelacc").val(),
                    "modelf1" : $("#modelf1").val(),
                    "modelspeed" : $("#modelspeed").val(),
                    "modelvolume" : $("#modelvolume").val()
            };

            $.ajax({
                url : "/trainInsertAjax/",
                type : "GET",
                data : param,
                dataType : "json",
                success : function(data) {
                    modalShow("모델 학습이 성공적으로 완료되었습니다.");
                },
                error : function(e) {
                    modalShow("모델 학습이 실패했습니다.");
                    console.log("error :" + e.response);
                }
            });
        }
    </script>

{% endblock %}